RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

Options -Indexes

ErrorDocument 403 http://localhost/contas-a-pagar/404.php
ErrorDocument 404 http://localhost/contas-a-pagar/404.php