#sidebar {
    position: fixed;
    background-color: #08203f;
    width: 220px;
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

#sidebar a {
    display: flex;
    align-items: center;
    padding: 12px 35px;
    color: #fff;
    text-decoration: none;
    transition: 0.2s;
}

#sidebar a:hover {
    background-color: #0d3263
}

#sidebar i {
    margin-right: 10px;
    min-width: 20px;
    text-align: center;
}