:root {
    --clr-dark-blue: hsl(214, 77%, 14%);
    --clr-blue-hover: hsl(214, 77%, 24%);
    --clr-white: #ffffff;

    font-size: clamp(16px, 1rem + 0.3vw, 24px);
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    overflow-x: hidden;
}

table {
    margin: auto;
    width: 80%;
}

table,
th,
td {
    border: 1px solid #ddd;
    padding: 0.2rem 0.6rem;
    text-align: center;
}

tr:hover {
    background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
    cursor: pointer;
}

th {
    font-weight: 600;
    background-color: var(--clr-dark-blue);
    color: var(--clr-white);
}

.non-clickable-table tr:hover {
    cursor: default;
}

h1 {
    margin-top: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 600;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 500;
}

form {
    display: inline-block;
}

input {
    font-size: 0.7rem;
    margin-bottom: 1rem;
    padding: 0.2rem;
}

textarea {
    resize: vertical;
    width: 90%;
    min-height: 4em;
}

select {
    font-size: 0.7rem;
    padding: 0.2rem;
}

.section {
    background: white;
    padding: 40px;
    padding-top: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    align-content: center;
}

.form-section {
    display: grid;
    place-content: center;
}

.search-section {
    padding-bottom: 20px;
    margin-top: 0;
    margin-bottom: 40px;
    background-color: hsl(0, 0%, 97%);
}

.table-section {
    overflow-x: auto;
}

.hide {
    display: none;
}

#main-layout {
    display: flex;
    min-height: 100vh;
    height: 100vh;
}

#sidebar {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    background-color: var(--clr-dark-blue);
    width: 16.5rem;

    flex-shrink: 1;
    height: 100vh;
    transition: width 0.3s ease-in-out;
    color: var(--clr-white);
    z-index: 1000;
}

#sidebar a {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0.8em 1.5rem;
    color: inherit;
    gap: 0.5rem;
    border: 1px solid var(--clr-dark-blue);
}

#sidebar a:hover {
    background-color: var(--clr-blue-hover);
    border: 1px solid rgb(0, 132, 194);
}

#sidebar-actions {
    margin-top: auto;
    border: 3px solid var(--clr-blue-hover);
    border-radius: 20px;
    display: flex;
}

#sidebar-actions a {
    border: 0;
}

#sidebar-actions a:hover {
    border: 0;
    border-radius: 15px;
    background-color: --clr;
}


#user {
    width: 80%;
}

#logout {
    width: 20%;
}

#logout:hover {
    color: #f00;
}

#content {
    width: 100%;
    padding: 0 2rem;
    overflow-y: auto;
    height: 100vh;
}

.description {
    background-color: #ddd;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    text-align: justify;
    max-width: 750px;
}

#toggle-sidebar {
    display: none;
}

@media (max-width: 750px) {

    #toggle-sidebar {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 1001;

        background-color: var(--clr-dark-blue);
        color: var(--clr-white);
        border: none;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    #toggle-sidebar:hover {
        background-color: var(--clr-blue-hover);
    }

    #main-layout {
        display: block;
        width: 100%;
    }

    #sidebar {
        position: fixed;
        width: 70%;
        transform: translateX(-100%);
        left: 0;

        height: 100vh;
    }

    #sidebar.sidebar-overlay {
        transform: translateX(0);
        width: 70%;
        left: 0;
    }

    #content {
        width: 91%;
        padding: 1rem;
    }

    a {
        margin: 0.2rem;
    }
}

.clickable-text {
    color: #0000EE;
    cursor: pointer;
}